In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv('salary_data_cleaned.csv')

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,company_name,company_txt,job_state,same_state,age,python_yn,excel_yn,R_yn,aws_yn,spark_yn
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,Tecolote Research\n,Tecolote Research\n,NM,0,47,yes,yes,no,no,no
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,University of Maryland Medical System\n,University of Maryland Medical System\n,MD,0,36,yes,no,no,no,no
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,KnowBe4\n,KnowBe4\n,FL,1,10,yes,yes,no,no,yes
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,PNNL\n,PNNL\n,WA,1,55,yes,no,no,no,no
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Affinity Solutions\n,Affinity Solutions\n,NY,1,22,yes,yes,no,no,no

In [4]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary',
       'fixed_min_salary', 'avg_salary', 'company_name', 'company_txt',
       'job_state', 'same_state', 'age', 'python_yn', 'excel_yn', 'R_yn',
       'aws_yn', 'spark_yn'],
      dtype='object')

In [5]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
            
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'

In [6]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)

In [7]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary',
       'fixed_min_salary', 'avg_salary', 'company_name', 'company_txt',
       'job_state', 'same_state', 'age', 'python_yn', 'excel_yn', 'R_yn',
       'aws_yn', 'spark_yn', 'job_simp'],
      dtype='object')

In [8]:
df.job_simp.value_counts()

data scientist    279
na                184
data engineer     119
analyst           102
manager            22
mle                22
director           14
Name: job_simp, dtype: int64

In [9]:
df['seniority'] = df['Job Title'].apply(seniority)
df.seniority.value_counts()

na        520
senior    220
jr          2
Name: seniority, dtype: int64

In [10]:
# Fix state Los Angeles
df['job_state'] = df.job_state.apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'CA')
df.job_state.value_counts()

CA    152
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
NC     21
WA     21
NJ     17
FL     16
OH     14
TN     13
DC     11
CO     11
WI     10
UT     10
IN     10
AZ      9
MO      9
AL      8
GA      6
DE      6
KY      6
MI      6
CT      5
IA      5
LA      4
OR      4
NE      4
NM      3
KS      3
ID      2
MN      2
RI      1
SC      1
Name: job_state, dtype: int64

In [11]:
# Job description length
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))
df['desc_len']

0       2536
1       4783
2       3461
3       3883
4       2728
5       3747
6       1786
7       3804
8       1538
9       4574
10      2757
11      3490
12      3934
13      4897
14      3731
15      1889
16      3639
17      4163
18      3512
19      4397
20      2918
21      6909
22      6408
23      2907
24      3760
25      3698
26      4420
27      4900
28      5015
29      3461
30      3883
31      3342
32      5045
33      2327
34      2161
35      1739
36      5000
37      3703
38      3555
39      1739
40      3053
41      1996
42      3833
43      3550
44      9120
45      3213
46      7286
47      3412
48      2682
49      2739
50      2915
51      4244
52      1629
53      4734
54      4448
55      3543
56      4203
57      5020
58      1786
59      3747
60      4804
61      1382
62      2933
63      4945
64      2493
65      1939
66      3081
67      8397
68      2306
69      2291
70      1886
71      2903
72      2653
73      4427
74      2609
75      4295
76      3405
77      5153
78      3381
79       879
80      4189
81      4424
82      2996
83      3682
84      3819
85      1791
86      3934
87      3804
88      3204
89      2253
90      2772
91      4751
92      2380
93      2723
94      2337
95      4088
96      5342
97      2588
98      4203
99      5467
100     3443
101     3316
102     3717
103     3301
104     5483
105     4753
106     5609
107     3209
108     4917
109     5139
110     2232
111     3731
112     4574
113     3158
114     3443
115      741
116     3899
117     2896
118     3947
119     2620
120     4188
121     7231
122     4064
123     8175
124     1822
125     2773
126     3987
127     4154
128     5002
129     3154
130     3698
131     3991
132     5619
133     6275
134     3549
135     7548
136     3490
137     4163
138      688
139     3055
140     3353
141     3066
142     1806
143     6130
144     6844
145     3217
146     3405
147     5526
148     5743
149     4904
150     2934
151     4127
152     2075
153     2962
154     4414
155     7106
156     2397
157     2468
158     3010
159     4486
160     6909
161     3512
162     2617
163     5391
164     5736
165     2117
166     6467
167     5512
168     2525
169     1961
170    10051
171     4353
172     5801
173     5894
174     2309
175     3239
176     1632
177     2724
178     1345
179     4835
180     2886
181     2808
182     1925
183     2364
184     3088
185     5123
186     3984
187     3280
188     4819
189     3670
190     3670
191     4637
192     4438
193     2015
194     3627
195     4037
196     4608
197     5160
198     2433
199     5379
200     3846
201     2133
202     2801
203     2832
204     3776
205     4288
206     6408
207     5298
208     1806
209     2469
210     9322
211     5775
212     2934
213     2962
214     2075
215     4082
216     3123
217     3144
218     1884
219     4414
220     7106
221     2397
222     5435
223     2468
224     5483
225     2505
226     4486
227     3010
228     2774
229     7107
230     2617
231     3698
232     2907
233     4135
234     5391
235     4471
236     4948
237     5736
238     4466
239     2385
240     5019
241     3111
242     6467
243     4502
244     4837
245     4837
246     2117
247     4135
248     3799
249     3421
250     2525
251     5558
252     5512
253     1961
254     5015
255     3760
256     1817
257    10051
258     3029
259     5801
260     4353
261     2309
262     5894
263     2643
264      714
265     3796
266     1632
267     2501
268     3239
269     3490
270     1345
271     2724
272     4835
273     1231
274     6600
275     2886
276     2808
277     2041
278     4420
279     3342
280     1727
281     2364
282     4637
283     4743
284     1925
285     3088
286     3849
287     2047
288     4929
289     4475
290     1934
291     5123
292     3965
293     4898
294     3280
295     3256
296     3243
297     1937
298     2447
299     2026
300     5924
301     1868
302     5045
303     2327
304     6612
305     3984
306     4755
307     3670
308     6411
309     2929
310     4819
311     4196
312     3670
313     4438
314     1688
315     2290
316     4637
317     2353
318     3297
319     4582
320     3870
321     3333
322     3971
323     3627
324     2632
325     4425
326     5000
327     2161
328     2015
329     5768
330     4037
331     5182
332     5647
333     3449
334     5743
335     4608
336     4517
337     5160
338     2860
339     2433
340     2926
341     4300
342     6817
343     5379
344     3160
345     1945
346     3846
347     2133
348     3833
349     3169
350     4701
351     2832
352     2518
353     3677
354     4471
355     3725
356     3776
357     2801
358     7121
359     2867
360     2311
361     5338
362     3243
363     1848
364     7361
365     3374
366     3693
367     4707
368     4613
369     2752
370     3309
371     3078
372     2915
373     3213
374     4624
375     4914
376     4103
377     3199
378     2501
379     4577
380     4537
381     4323
382     4223
383     3325
384     3889
385     2869
386     5647
387     4759
388     2708
389     4854
390     8761
391     2683
392     4740
393     5169
394     4288
395     3978
396     3413
397     1735
398     2739
399     9120
400     6569
401     5188
402     4328
403     5449
404     3214
405     3766
406     1504
407     5186
408     1844
409     4299
410     3935
411     2332
412     8734
413     6034
414     4774
415     2222
416     5121
417     1359
418     4915
419     3466
420     3172
421     5749
422     3543
423     5020
424     2711
425     2929
426     6411
427     4819
428     3948
429     3855
430     2288
431     4196
432     3670
433     6995
434     3362
435     3740
436     3000
437     4140
438     1484
439     4438
440     1688
441     4637
442     2290
443     3297
444     4582
445     2353
446     3218
447     3703
448     4203
449     1034
450     3870
451     3885
452     2759
453     2882
454     6513
455     6438
456     1838
457     3333
458     1131
459     2145
460     2496
461     5013
462     5478
463     1506
464     3971
465     2956
466     4816
467     3627
468     2632
469     2195
470     4425
471     2015
472     4448
473     7286
474     4815
475     5768
476     4037
477     4348
478     5182
479     3449
480     5647
481     2292
482     5743
483     4341
484     3127
485     4572
486     6626
487     1211
488     4517
489     2860
490     4608
491     7802
492     5160
493     2433
494     5884
495     1230
496     3222
497     4244
498     3110
499     4478
500     2926
501     4300
502     3431
503     6817
504     5379
505     3111
506     3160
507     4847
508     4134
509     1945
510     5192
511     4525
512     2421
513     5838
514     2095
515     7383
516     2460
517     3846
518     3864
519     3169
520     2133
521     4734
522     3555
523     4701
524     2832
525     1793
526     3677
527     2518
528     4471
529     3516
530     4033
531     3725
532     3776
533     2801
534     7121
535     2867
536     3783
537     2311
538     6175
539     2479
540     5338
541     3243
542     1848
543     7361
544     3374
545     4707
546     3693
547     4613
548     3081
549     3939
550     2752
551     3309
552     5717
553     5025
554     5016
555     6162
556     6130
557     3078
558     3673
559     1642
560     2811
561     4624
562     4386
563     3585
564     4103
565     4914
566     2501
567     4096
568     4537
569     6152
570     4577
571     4260
572     4323
573     1768
574     1382
575     1790
576     4223
577     3889
578     1919
579     3726
580     3325
581     3437
582     5647
583     2869
584     1214
585     3199
586     2708
587     3392
588     4759
589     8761
590     4854
591     4740
592     2327
593     4288
594     2683
595     2340
596     5169
597     3329
598     2672
599     3828
600     3978
601     3413
602     1735
603     6569
604     4586
605     5188
606     4328
607     5449
608     5701
609     3214
610     3766
611     7777
612     1504
613     4951
614     5186
615     3119
616     3935
617     1844
618     4299
619     4183
620     8734
621     2332
622     6034
623     4774
624     2222
625     2493
626     4490
627     5121
628     2948
629     1359
630     4915
631     3466
632     2689
633     3709
634     3172
635     4402
636     5749
637     3180
638     2011
639     4087
640     2606
641     3082
642     1865
643     3926
644     3570
645     3747
646     4431
647     4465
648     3448
649     4571
650     2933
651     4945
652     3449
653     2391
654     2292
655     5743
656     4648
657     4341
658     3775
659     3127
660     6626
661     1211
662     4517
663     4608
664     2860
665     7802
666     5160
667     5884
668     2433
669     1230
670     3110
671     4478
672     4804
673     4427
674     4662
675     4300
676     6817
677     3111
678     3431
679     3160
680     5379
681     4847
682     1945
683     4525
684     4134
685     3728
686     2399
687     5192
688     2421
689     2730
690     5838
691     2095
692     3170
693     3808
694     7383
695     4023
696     3846
697     2460
698     3864
699     4572
700      407
701     2133
702     3169
703     4701
704     2832
705     1793
706     3677
707     2518
708     4471
709     3516
710     4033
711     2801
712     3725
713     3776
714     2306
715     7121
716     3911
717     2867
718     2311
719     6175
720     3783
721     2479
722     5338
723     3243
724     1848
725     7361
726     3374
727     3693
728     4613
729     4707
730     3309
731     2752
732     3478
733     5717
734     5016
735     3813
736     5025
737     6162
738     6130
739     3078
740     1642
741     3673
Name: desc_len, dtype: int64

In [12]:
# Competitor count
df['num_comp'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '1' else 0)

In [13]:
df.num_comp

0      1
1      1
2      1
3      3
4      3
5      3
6      1
7      1
8      1
9      2
10     1
11     1
12     3
13     1
14     3
15     1
16     3
17     1
18     1
19     1
20     3
21     1
22     1
23     1
24     3
25     1
26     1
27     1
28     1
29     1
30     3
31     1
32     1
33     1
34     3
35     1
36     1
37     1
38     1
39     1
40     3
41     1
42     1
43     3
44     3
45     1
46     3
47     1
48     3
49     3
50     1
51     3
52     1
53     3
54     1
55     1
56     3
57     2
58     1
59     3
60     1
61     1
62     1
63     3
64     3
65     1
66     1
67     4
68     1
69     1
70     1
71     1
72     1
73     3
74     3
75     1
76     1
77     1
78     1
79     3
80     1
81     1
82     3
83     3
84     1
85     1
86     3
87     1
88     1
89     1
90     1
91     3
92     1
93     1
94     1
95     3
96     3
97     3
98     3
99     1
100    1
101    3
102    3
103    3
104    3
105    1
106    3
107    1
108    3
109    3
110    2
111    3
112    2
113    1
114    1
115    1
116    1
117    2
118    3
119    3
120    1
121    1
122    1
123    3
124    1
125    1
126    1
127    1
128    3
129    1
130    3
131    3
132    2
133    3
134    1
135    3
136    1
137    1
138    1
139    3
140    1
141    1
142    3
143    1
144    3
145    3
146    1
147    3
148    1
149    3
150    1
151    1
152    1
153    1
154    1
155    1
156    1
157    3
158    1
159    2
160    1
161    1
162    1
163    3
164    3
165    1
166    1
167    1
168    1
169    1
170    2
171    1
172    3
173    1
174    3
175    2
176    1
177    1
178    3
179    1
180    1
181    1
182    3
183    1
184    2
185    1
186    1
187    1
188    1
189    1
190    1
191    1
192    1
193    2
194    1
195    3
196    1
197    1
198    1
199    1
200    1
201    3
202    1
203    1
204    1
205    3
206    1
207    3
208    1
209    3
210    1
211    1
212    1
213    1
214    1
215    1
216    3
217    3
218    2
219    1
220    1
221    1
222    1
223    3
224    1
225    1
226    2
227    1
228    1
229    1
230    1
231    1
232    1
233    1
234    3
235    3
236    3
237    3
238    3
239    3
240    1
241    1
242    1
243    1
244    1
245    3
246    1
247    1
248    1
249    1
250    1
251    3
252    1
253    1
254    1
255    3
256    1
257    2
258    1
259    3
260    1
261    3
262    1
263    1
264    1
265    1
266    1
267    3
268    2
269    3
270    3
271    1
272    1
273    3
274    1
275    1
276    1
277    1
278    1
279    1
280    1
281    1
282    3
283    1
284    3
285    2
286    1
287    1
288    3
289    3
290    3
291    1
292    1
293    1
294    1
295    3
296    1
297    1
298    1
299    3
300    1
301    1
302    1
303    1
304    3
305    1
306    1
307    1
308    3
309    1
310    1
311    1
312    1
313    1
314    1
315    1
316    1
317    1
318    3
319    1
320    1
321    3
322    3
323    1
324    3
325    1
326    1
327    3
328    2
329    3
330    3
331    1
332    1
333    3
334    1
335    1
336    3
337    1
338    1
339    1
340    3
341    1
342    3
343    1
344    1
345    1
346    1
347    3
348    1
349    3
350    1
351    1
352    1
353    1
354    3
355    3
356    1
357    1
358    1
359    1
360    1
361    1
362    3
363    1
364    1
365    1
366    1
367    1
368    1
369    1
370    1
371    1
372    1
373    1
374    1
375    1
376    3
377    1
378    3
379    3
380    3
381    3
382    1
383    1
384    1
385    1
386    1
387    1
388    1
389    1
390    3
391    1
392    1
393    1
394    3
395    2
396    1
397    3
398    3
399    3
400    1
401    3
402    1
403    1
404    1
405    3
406    1
407    3
408    2
409    1
410    3
411    3
412    1
413    1
414    1
415    3
416    1
417    2
418    1
419    2
420    3
421    1
422    1
423    2
424    1
425    1
426    3
427    1
428    1
429    1
430    1
431    1
432    1
433    1
434    1
435    1
436    1
437    3
438    1
439    1
440    1
441    1
442    1
443    3
444    1
445    1
446    3
447    1
448    3
449    1
450    1
451    1
452    1
453    1
454    3
455    2
456    1
457    3
458    1
459    1
460    3
461    1
462    3
463    3
464    3
465    1
466    1
467    1
468    3
469    1
470    1
471    2
472    1
473    3
474    1
475    3
476    3
477    1
478    1
479    3
480    1
481    2
482    1
483    3
484    2
485    3
486    1
487    1
488    3
489    1
490    1
491    3
492    1
493    1
494    1
495    3
496    1
497    3
498    3
499    3
500    3
501    1
502    2
503    3
504    1
505    2
506    1
507    3
508    1
509    1
510    1
511    1
512    3
513    3
514    1
515    3
516    1
517    1
518    2
519    3
520    3
521    3
522    1
523    1
524    1
525    1
526    1
527    1
528    3
529    3
530    1
531    3
532    1
533    1
534    1
535    1
536    1
537    1
538    3
539    3
540    1
541    3
542    1
543    1
544    1
545    1
546    1
547    1
548    1
549    1
550    1
551    1
552    1
553    3
554    1
555    3
556    3
557    1
558    1
559    1
560    1
561    1
562    3
563    1
564    3
565    1
566    3
567    3
568    3
569    3
570    3
571    1
572    3
573    1
574    1
575    1
576    1
577    1
578    1
579    3
580    1
581    1
582    1
583    1
584    1
585    1
586    1
587    1
588    1
589    3
590    1
591    1
592    3
593    3
594    1
595    2
596    1
597    3
598    1
599    3
600    2
601    1
602    3
603    1
604    3
605    3
606    1
607    1
608    1
609    1
610    3
611    3
612    1
613    1
614    3
615    1
616    3
617    2
618    1
619    1
620    1
621    3
622    1
623    1
624    3
625    3
626    3
627    1
628    1
629    2
630    1
631    2
632    1
633    3
634    3
635    1
636    1
637    3
638    1
639    1
640    3
641    1
642    1
643    2
644    1
645    1
646    1
647    1
648    3
649    1
650    1
651    3
652    3
653    3
654    2
655    1
656    1
657    3
658    1
659    2
660    1
661    1
662    3
663    1
664    1
665    3
666    1
667    1
668    1
669    3
670    3
671    3
672    1
673    3
674    1
675    1
676    3
677    2
678    2
679    1
680    1
681    3
682    1
683    1
684    1
685    1
686    1
687    1
688    3
689    1
690    3
691    1
692    3
693    1
694    3
695    1
696    1
697    1
698    2
699    3
700    1
701    3
702    3
703    1
704    1
705    1
706    1
707    1
708    3
709    3
710    1
711    1
712    3
713    1
714    1
715    1
716    3
717    1
718    1
719    3
720    1
721    3
722    1
723    3
724    1
725    1
726    1
727    1
728    1
729    1
730    1
731    1
732    1
733    1
734    1
735    2
736    3
737    3
738    3
739    1
740    1
741    1
Name: num_comp, dtype: int64

In [14]:
#df['min_salary'] = df.apply(lambda x: x.min_salary*2 if x.hourly == 1 else x.min_salary, axis = 1)
df['min_salary'] = df.apply(lambda x: x.min_salary*2 if x.hourly ==1 else x.min_salary, axis =1)

In [15]:
df[df.hourly == 1][['hourly','min_salary','max_salary']]

     hourly min_salary  max_salary
165       1       1717          24
177       1       2121          34
197       1       1818          25
202       1       2121          34
210       1       1515          25
246       1       1717          24
271       1       2121          34
337       1       1818          25
345       1       2424          39
357       1       2121          34
363       1     :25:25          28
408       1       2121          29
409       1       1010          17
492       1       1818          25
509       1       2424          39
533       1       2121          34
542       1     :25:25          28
617       1       2121          29
618       1       1010          17
645       1       2727          47
666       1       1818          25
682       1       2424          39
711       1       2121          34
724       1     :25:25          28